@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Malgun+Gothic:wght@400;600&display=swap');

* {
    font-family: "Open Sans", "Noto Sans", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.top-header {
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    background-color: rgb(255, 255, 255);
}


.top-header img {
    width: 70px;
    height: 20px;
    margin-top: 15px;
} 

.top-header ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
}

.top-header a {
    color: black;
    text-decoration: none;
}

.top-header li:not(:last-child) {
    margin-right: 20px;
}

.bottom-header {
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    background-color: rgb(173,158,135);
}

.bottom-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.bottom-header li:not(:last-child) {
    margin-right: 60px;
}

    .bottom-header li {
        margin-top: 10px;
    }

.bottom-header a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;

}
